{% include './blocks/header.html' %}

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="container">
                {% if category == 'error' %}
                    <div class="alert alert-danger" role="alert">
                        {{ message }}
                    </div>
                {% elif category == 'success' %}
                    <div class="alert alert-info" role="alert">
                        {{ message }}
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}

<div class="container">
    <form action="/enqueue" method="post">
        <div class="input-group mb-3">
            <input type="text" id="movie_id" name="movie_id" class="form-control" placeholder="Add Movie ID">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>

{% if queue %}
<div class="container">
    <h3 class="d-flex">Queue</h3>

    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Movie ID</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      {% for q in queue %}
        <tbody>
            <tr>
            <th scope="row">{{ loop.index }}</th>
            <td><a href="https://www.youtube.com/watch?v={{ q.movie_id }}">{{ q.movie_id }}</a></td>
            <td>{{ q.status }}</td>
            </tr>
        </tbody>
      {% endfor %}
    </table>
</div>
{% endif %}

{% include './blocks/movies.html' %}

{% include './blocks/footer.html' %}